@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.topContent{
    color: white;
    position: relative;
}

.topContent_container{
    position: absolute;
    top: 250px;
    right: 150px;
}

.topContent_container>h1{
    font-family: 'Montserrat',sans-serif;
    font-size: 70px;
    font-weight: 600;
    letter-spacing: 2px;
}

.topContent_container>p{

    font-family: 'Montserrat',sans-serif;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 1px;
    text-align: left;
    padding-top: 20px;
    padding-left: 5px;
}

.topContent_container > a >button{

    margin-top: 30px;
    text-align: left;
    margin-left: 30px;
    border: none;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}

.downloadButoon{
    
    padding: 5px 20px;
    color: white;
    background-color: #E74833;
    font-family: 'Montserrat',sans-serif;
    font-weight: 300;
    font-size: 20px;
}

.downloadButoon:hover{
    color: white;
    background-color: #e74833b1;
    font-family: 'Montserrat',sans-serif;
    font-weight: 600;
}

.myworkButton{
    color: white;
    background-color: transparent;
    border: 1px solid white !important;
    padding: 4px 25px;
    font-family: 'Montserrat',sans-serif;
    font-weight: 300;
    font-size: 20px;
}

.myworkButton:hover{
    font-family: 'Montserrat',sans-serif;
    font-weight: 600;
    color: black;
    background-color: white;
}