*{
    margin: 0;
    padding: 0;
}
.Header{
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: black;
}
.navbar{
    background-color: #161032 ;
    padding: 5px 5%;
}
nav{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
    padding: 10px;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin: 10px 20px;
    position: relative;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 5px;
    background-color:aquamarine;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}

nav ul li a:hover::after{
    width: 100%;
}

.searchbar{
    padding: 50px;
    text-align: center;
}
.search{
    height: 50px;
    width: 60%;
    border-radius: 5%;
    padding: 5px;
    font-size: 20px; 
    border: none;
}

.gridcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}

.box {
    display: flex;
    flex-direction: column; /* Align content vertically */
    align-items:start;
    justify-content: center;
    /* background-color: aqua; */
    padding-left: 100px;
}

.box img {
    text-align: left;
    max-width: 100%; /* Ensure images don't exceed their container */
    height: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0.85;
    border-radius: 5%;
}

.box h2 {
    width: 100%; /* Limit width of heading */
    margin-top: 10px;
    font-size: 20px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.About {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    height: 300px;
    align-items: center;
    margin-top: 50px;
    color: white;
 }
 
 .About p {
    text-align: center;
    padding-left: 500px; /* Adjust padding as needed */
    padding-right: 500px; /* Adjust padding as needed */
    font-weight: 40px; /* This should be font-size */
 }
 

 .whole{
    background-color: #282828;
 }
 .Footer{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 30%;
    gap: 5px;


 }

 .parabox{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start ;
    height: 300px;
    color: white;
    border-bottom: none;
    
 }
 .parabox h1,p{
    margin-top: 20px;
    margin-left: 5px;
 }

 .Footer h4{
    color: white;
 }

 .rights{
    margin-top: 30px;
    margin-left: 20px;
 }