*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    height: 200px;
    width: 200px;
    background-color: yellow;
    margin-left: 50px;

}

.content{
    background-color: red;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-auto-rows: 200px;
    gap: 10px;
}
h1{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content h1:nth-child(1){
    
    background-color: yellow;
    grid-column-start: 1;
    grid-column-end: 4;
    
}

