*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   height: 100vh;
    background-image: url(./images/pngegg.png),
    linear-gradient(to bottom,greenyellow,aqua);
    background-repeat: repeat-y,no-repeat;
    background-position: right;
    background-size: 22%,auto;
}





