html{
    background-color: black;
}
img{
    border: 5px solid white;
    width: 100%;
}
h1{
    color: white;
    text-transform: uppercase;
    font-family: "Libre Baskerville", serif;
    font-size: 3rem;

   
}
p{
    color: white;
    font-family: "Libre Baskerville", serif;
    
}
div{
    margin-top: 100px;
    width: 50%;
    margin-left: 25%;
 text-align: center;
}