<!-- 
<h1>your count value {{count}}</h1>

<button (click)="increaseCount();countDuplicate=count">Increase!</button>

<p>duplicate value of this event above {{countDuplicate}}</p> -->


<!-- -------------------------------------------------------------------------------------------------------------------- -->

<input type="text" placeholder="enter the name" (input)="handleInput($event);">
<p>The typed name is {{value}}</p>

<input type="text" placeholder="without function" (input)="value2=$any($event.target).value">
<h1>{{value2}}</h1>

<!-- ---------------------------------------------------------------------------------------------------------------------- -->
 