<!-- 
<h1>your count value {{count}}</h1>

<button (click)="increaseCount();countDuplicate=count">Increase!</button>

<p>duplicate value of this event above {{countDuplicate}}</p> -->


<!-- -------------------------------------------------------------------------------------------------------------------- -->

<input type="text" placeholder="enter the name" (input)="handleInput($event);">
<p>The typed name is {{value}}</p>

<input type="text" placeholder="without function" (input)="value2=$any($event.target).value">
<h1>{{value2}}</h1>

<!-- ---------------------------------------------------------------------------------------------------------------------- -->
 
<!-- Directives -->

<!-- for directives -->

<div class="panel panel-primary">
    <div class="panel-heading">
        {{title}}
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>S.no</th>
                        <th>title</th>
                        <th>director</th>
                        <th>rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let mov of movieList; let i=index">
                        <td>{{i+1}}</td>
                        <td>{{mov.title}}</td>
                        <td>{{mov.director}}</td>
                        <td>{{mov.rating}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


